
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font: normal 12px Arial,Helvetica,sans-serif;
    /* height: 100vh; */
    font-family: sans-serif;
    margin: 0;
    color: black;
    background-color: whitesmoke;
}

main {
    border: 2px solid rgb(192, 14, 14);
    background-color: whitesmoke;
}

.grid-container {
    /* display: grid;   */
    margin: 20px;
    /* border: 2px solid rgb(192, 14, 14); */
    /* background-color: whitesmoke; */
}

.golf-round-container {
    padding: 2em;
}

.golf-round-title {
    display: grid;
    grid-template-columns: "50% 50%";
    grid-template-areas: 
        "Main Main"
        "SubLeft SubRight";
}

.subtitle-left {
    grid-area: SubLeft;
    text-align: left;
    font-size: small;
    color:rgba(83, 82, 88, 0.514)
}

.subtitle-right {
    grid-area: SubRight;
    text-align: right;
    font-size: small;
    color:rgba(83, 82, 88, 0.514)
}

.main-title {
    grid-area: Main;
    font-size: large;
    text-align: center;
}

.player {
    /* color: black; */
    /* background-color: rgba(182, 181, 178, 0.623); */
    border: 1px solid #ccc;
    padding: .75em;
    
}

.mgaTableBorder {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}

tr.mgaTableRow:hover {
    background: rgba(215, 214, 223, 0.87);
}

.mgaTable {
    width: 100%;
    margin: auto;
}

th.mgaTableCol {
    background: rgb(83, 82, 88);
    color: white;
}

.mgaTableRow {
    /* border-top: 1px solid black; */
    /* background: chartreuse; */
    /* height: 50px; */
    /* line-height: 50px; */
    /* margin: 1em; */
}

.mgaTableCol {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1em;
}

tr.even {
    background: rgba(236, 235, 245, 0.5);
}

tr.odd {
    background: rgba(215, 214, 223, 0.5);
}

.mgaInfoColBottom {
    border-bottom: none;
    min-width: 70px;
}

.mgaTableRightCol {
    border-right: 1px solid #ccc;
}

header {
    background: #521751;
    grid-area: header;
}

.info {
    /* background-color: rgba(182, 181, 178, 0.623); */
    border: 1px solid #ccc;
    /* padding: 1.5em; */
    grid-area: info;
    align-self: center;
}

.itm {
    background-color: grey;
    height: 100%;
    list-style: none;
}



/* main {  
    background-color: rgb(240, 233, 233);
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
} */

footer {
    background: black;
    grid-area: footer;
}

.pairings {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item a:hover,
.nav-item a:active {
    color: #fa923f;
}

.card {
    padding: 2rem;
    /* font-size: var(--fs-400); */
    background-color: rgb(83, 82, 88);
    border: solid black 1px;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
    
}

.card:nth-child(1) {
    grid-area: one;
}
.card:nth-child(2) {
    grid-area: two;
}
.card:nth-child(3) {
    grid-area: three;
}
.card:nth-child(4) {
    grid-area: four;
}
.card:nth-child(5) {
    grid-area: five;
}
.card-title {
    font-size: 1.5em;
}

.card-body {
    font-size: .75em;
    color: rgb(224, 224, 222);
}

@media (min-width: 50em) {
    /* .container {
        grid-template-columns: repeat(4, 1fr);
    } */
    /* .grid-col-span-2 {
        grid-column: span 2;
    } */
    .container {
        grid-template-areas:
            "one one five"
            "two three five"
            "four four five";
    }
}

.card.quote {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}
  
.card img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
}
  
.card .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
}
  
.card .position {
    font-size: var(--fs-300);
    opacity: 0.5;
}
  
.card > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
}
  
.card > p:last-of-type {
    opacity: 0.7;
}
