<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Middleton Open 2022 Pairings</title>
</head>

<body>
    <header>
        <ul class="nav-list">
            <li class="nav-item"><a href="#">Golfers</a></li>
            <li class="nav-item"><a href="#">Scoreboard</a></li>
            <li class="nav-item"><a href="#">Rounds</a></li>
        </ul>
    </header>
    <div class="grid-container">
        <div id="golf-rounds">
            
            <div class="golf-round-container">
                <div class="golf-round-title">
                    <div class="main-title">Two Man Scramble</div>
                    <span class="subtitle-left">Southern Dunes</span>
                    <span class="subtitle-right">Feb 24, 2022</span>
                </div>
            
                <table class="mgaTable mgaTableBorder" cellspacing="0">
                    <tr class="mgaTableRow">
                        <th class="mgaTableCol">Info</th>
                        <th class="mgaTableCol">Red Team</th>
                        <th class="mgaTableCol">HDCP</th>
                        <th class="mgaTableCol">Blue Team</th>
                        <th class="mgaTableCol mgaTableRightCol">HDCP</th>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol mgaInfoColBottom">Group 1</td>
                        <td class="mgaTableCol">Matt Middleton</td>
                        <td class="mgaTableCol">11</td>
                        <td class="mgaTableCol">Joshua Middleton</td>
                        <td class="mgaTableCol mgaTableRightCol">12</td>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol">7:30 AM</td>
                        <td class="mgaTableCol">Rick Middleton</td>
                        <td class="mgaTableCol">11</td>
                        <td class="mgaTableCol">Isaac Middleton</td>
                        <td class="mgaTableCol mgaTableRightCol">18</td>
                    </tr>
                    <tr class="mgaTableRow even">
                        <td class="mgaTableCol mgaInfoColBottom">Group 2</td>
                        <td class="mgaTableCol">Tim Napier</td>
                        <td class="mgaTableCol">7</td>
                        <td class="mgaTableCol">Keith Raisch</td>
                        <td class="mgaTableCol mgaTableRightCol">12</td>
                    </tr>
                    <tr class="mgaTableRow even">
                        <td class="mgaTableCol">7:40 AM</td>
                        <td class="mgaTableCol">Dan Hirsch</td>
                        <td class="mgaTableCol">14</td>
                        <td class="mgaTableCol">Jeff Nimmo</td>
                        <td class="mgaTableCol mgaTableRightCol">20</td>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol mgaInfoColBottom">Group 3</td>
                        <td class="mgaTableCol">Tim Napier</td>
                        <td class="mgaTableCol">7</td>
                        <td class="mgaTableCol">Keith Raisch</td>
                        <td class="mgaTableCol mgaTableRightCol">12</td>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol">7:40 AM</td>
                        <td class="mgaTableCol">Dan Hirsch</td>
                        <td class="mgaTableCol">14</td>
                        <td class="mgaTableCol">Jeff Nimmo</td>
                        <td class="mgaTableCol mgaTableRightCol">20</td>
                    </tr>
                </table>
            </div>

            <div class="golf-round-container">
                <div class="golf-round-title">
                    <div class="main-title">Head to Head</div>
                    <span class="subtitle-left">Southern Dunes</span>
                    <span class="subtitle-right">Feb 24, 2022</span>
                </div>
            
                <table class="mgaTable mgaTableBorder" cellspacing="0">
                    <tr class="mgaTableRow">
                        <th class="mgaTableCol">Info</th>
                        <th class="mgaTableCol">Red Team</th>
                        <th class="mgaTableCol">HDCP</th>
                        <th class="mgaTableCol">Blue Team</th>
                        <th class="mgaTableCol mgaTableRightCol">HDCP</th>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol mgaInfoColBottom">Group 1</td>
                        <td class="mgaTableCol">Matt Middleton</td>
                        <td class="mgaTableCol">11</td>
                        <td class="mgaTableCol">Joshua Middleton</td>
                        <td class="mgaTableCol mgaTableRightCol">12</td>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol">7:30 AM</td>
                        <td class="mgaTableCol">Rick Middleton</td>
                        <td class="mgaTableCol">11</td>
                        <td class="mgaTableCol">Isaac Middleton</td>
                        <td class="mgaTableCol mgaTableRightCol">18</td>
                    </tr>
                    <tr class="mgaTableRow even">
                        <td class="mgaTableCol mgaInfoColBottom">Group 2</td>
                        <td class="mgaTableCol">Matt Middleton</td>
                        <td class="mgaTableCol">11</td>
                        <td class="mgaTableCol">Joshua Middleton</td>
                        <td class="mgaTableCol mgaTableRightCol">12</td>
                    </tr>
                    <tr class="mgaTableRow even">
                        <td class="mgaTableCol">7:30 AM</td>
                        <td class="mgaTableCol">Rick Middleton</td>
                        <td class="mgaTableCol">11</td>
                        <td class="mgaTableCol">Isaac Middleton</td>
                        <td class="mgaTableCol mgaTableRightCol">18</td>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol mgaInfoColBottom">Group 3</td>
                        <td class="mgaTableCol">Tim Napier</td>
                        <td class="mgaTableCol">7</td>
                        <td class="mgaTableCol">Keith Raisch</td>
                        <td class="mgaTableCol mgaTableRightCol">12</td>
                    </tr>
                    <tr class="mgaTableRow odd">
                        <td class="mgaTableCol">7:40 AM</td>
                        <td class="mgaTableCol">Dan Hirsch</td>
                        <td class="mgaTableCol">14</td>
                        <td class="mgaTableCol">Jeff Nimmo</td>
                        <td class="mgaTableCol mgaTableRightCol">20</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer>

    </footer>
    <script>
    function RoundsTemplate(rounds) {

            document.getElementById('golf-rounds').innerHTML = `
                ${rounds.map(function(r) {
                    let str1 = `
                        <div class="golf-round-container">
                            <div class="golf-round-title">
                                <div class="main-title">${r.Event}</div>
                                <span class="subtitle-left">${r.Course}</span>
                                <span class="subtitle-right">${r.Date}</span>
                            </div>

                            <table class="mgaTable mgaTableBorder" cellspacing="0">
                                <tr class="mgaTableRow">
                                    <th class="mgaTableCol">Info</th>
                                    <th class="mgaTableCol">Red Team</th>
                                    <th class="mgaTableCol">HDCP</th>
                                    <th class="mgaTableCol">Blue Team</th>
                                    <th class="mgaTableCol mgaTableRightCol">HDCP</th>
                                </tr>`;
                    r.Groups.forEach((g, idx, garray) => {
                        let rowtype = (idx % 2 === 0) ? 'odd' : 'even';
                        str1 += `
                                <tr class="mgaTableRow ${rowtype}">
                                    <td class="mgaTableCol mgaInfoColBottom">${g.Group}</td>
                                    <td class="mgaTableCol">${g.T1P1.name}</td>
                                    <td class="mgaTableCol">${g.T1P1.hdcp}</td>
                                    <td class="mgaTableCol">${g.T2P1.name}</td>
                                    <td class="mgaTableCol mgaTableRightCol">${g.T2P1.hdcp}</td>
                                </tr>
                                <tr class="mgaTableRow ${rowtype}">
                                    <td class="mgaTableCol mgaInfoColBottom">${g.Time}</td>
                                    <td class="mgaTableCol">${g.T1P2.name}</td>
                                    <td class="mgaTableCol">${g.T1P2.hdcp}</td>
                                    <td class="mgaTableCol">${g.T2P2.name}</td>
                                    <td class="mgaTableCol mgaTableRightCol">${g.T2P2.hdcp}</td>
                                </tr>
                                `;
                    });
                    str1 += '</table></div>'
                    return str1;
                }).join('')}
            `;

        }
        
        fetch('rounds.json').then(function (res) {
            return res.json();
        }).then(function (r) {
            RoundsTemplate(r)
        }).catch(function (e) {
            console.error('Error: ');
            console.error(e);
        });
    </script>
</body>

</html>
